* {
  font-size: 1.5rem;
  font-family: monospace;
  background-color: rgb(195, 179, 163);
  color: rgb(23, 55, 161);
}

li::selection {
  color: black;
  background-color: yellow;
}
.click:hover {
  cursor: pointer;
}

li {
  margin: 1.2em;
}

.container {
  display: flex;
  justify-content: center;
}
